name: Trigger Playwright Tests from Qase

on:
  workflow_dispatch:
    inputs:
      qase_api_base_url:
        description: "Qase API URL"
        required: true
      qase_report:
        description: "Enabled/disabled reporting to Qase"
        required: true
      qase_project_code:
        description: "Qase project code"
        required: true
      qase_run_id:
        description: "Qase Run ID"
        required: true
      qase_run_complete:
        description: "Qase Run autocomplete"
        required: true

env:
  QASE_API_BASE_URL: ${{ inputs.qase_api_base_url }}
  QASE_PROJECT_CODE: ${{ inputs.qase_project_code }}
  QASE_RUN_ID: ${{ inputs.qase_run_id }}
  QASE_API_TOKEN: ${{ secrets.QASE_API_TOKEN }}

jobs:
  run-playwright:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"
          cache: "npm"

      - name: Install project dependencies
        run: |
          npm install

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.21"

      - name: Install Qase CLI and set alias
        run: |
          go install github.com/qase-tms/qasectl@latest
          echo "$(go env GOPATH)/bin" >> $GITHUB_PATH
          echo "alias qli='qasectl'" >> $GITHUB_ENV

      - name: Run Playwright tests and generate JUnit XML
        run: |
          npx playwright test --reporter=junit --output=playwright-report

      - name: List test results
        run: |
          ls -R playwright-report

      - name: Merge JUnit XMLs
        run: |
          npx junit-merge "playwright-report/**/*.xml" -o "playwright-report/results.xml"

      - name: Upload Playwright JUnit results to Qase
        run: |
          qasectl testops result upload \
          --project $QASE_PROJECT_CODE \
          --token $QASE_API_TOKEN \
          --id $QASE_RUN_ID \
          --format junit \
          --path "playwright-report/results.xml" \
          --verbose
        env:
          QASE_API_TOKEN: ${{ secrets.QASE_API_TOKEN }}
